.root {
  display: inline-block;
}

.panel {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;

  color: var(--altum-color-text);

  &.mobile {
    width: 100%;
  }
}

.contentScroll {
  overflow: hidden;

  padding-block: var(--altum-g-space-1);
}
