.separator {
  display: flex;
  box-sizing: border-box;

  flex-shrink: 0;
  align-items: center;

  margin: 0;
  padding: 0;

  border: none;

  font-size: var(--altum-g-font-size-2xs);

  color: var(--altum-field-label);

  &::before,
  &::after {
    content: '';

    flex: 1 1 auto;

    background-color: var(--altum-color-panel-border);
  }

  &.horizontal {
    flex-direction: row;

    width: 100%;

    margin-block: var(--altum-separator-start, 0) var(--altum-separator-end, 0);

    &::before,
    &::after {
      min-width: var(--altum-g-space-2);
      height: 1px;
    }

    & .label {
      padding: 0 var(--altum-g-space-3);
    }
  }

  &.vertical {
    flex-direction: column;
    align-self: stretch;

    height: 100%;
    min-height: var(--altum-g-space-4);

    margin-inline: var(--altum-separator-start, 0) var(--altum-separator-end, 0);

    &::before,
    &::after {
      width: 1px;
      min-height: var(--altum-g-space-2);
    }

    & .label {
      padding: var(--altum-g-space-2) 0;
    }
  }

  & .label {
    flex-shrink: 0;

    white-space: nowrap;
  }
}
