.text {
  margin: 0;

  font-family: var(--altum-g-font-family-ui);

  &.xs {
    font-size: var(--altum-g-font-size-xs);
    line-height: var(--altum-g-line-height-xs);
  }

  &.sm {
    font-size: var(--altum-g-font-size-sm);
    line-height: var(--altum-g-line-height-sm);
  }

  &.md {
    font-size: var(--altum-g-font-size-base);
    line-height: var(--altum-g-line-height-base);
  }

  &.lg {
    font-size: var(--altum-g-font-size-lg);
    line-height: var(--altum-g-line-height-lg);
  }

  &.xl {
    font-size: var(--altum-g-font-size-xl);
    line-height: var(--altum-g-line-height-xl);
  }

  &.normal {
    font-weight: var(--altum-g-font-weight-normal);
  }

  &.medium {
    font-weight: var(--altum-g-font-weight-medium);
  }

  &.semibold {
    font-weight: var(--altum-g-font-weight-semibold);
  }

  &.bold {
    font-weight: var(--altum-g-font-weight-bold);
  }

  &.col_primary {
    color: var(--altum-color-type);
  }

  &.col_secondary {
    color: var(--altum-color-type-secondary);
  }

  &.col_tertiary {
    color: var(--altum-color-type-tertiary);
  }

  &.col_muted {
    color: var(--altum-color-type-muted);
  }

  &.col_info {
    color: var(--altum-color-status-info);
  }

  &.col_success {
    color: var(--altum-color-status-success);
  }

  &.col_warning {
    color: var(--altum-color-status-warning);
  }

  &.col_error {
    color: var(--altum-color-status-error);
  }

  &.col_disabled {
    color: var(--altum-color-type-disabled);
    opacity: var(--altum-opacity-disabled);

    cursor: not-allowed;
  }
}
