.col_secondary {
  color: var(--altum-color-type-secondary);
}

.col_tertiary {
  color: var(--altum-color-type-tertiary);
}

.col_muted {
  color: var(--altum-color-type-muted);
}

.col_info {
  color: var(--altum-color-status-info);
}

.col_success {
  color: var(--altum-color-status-success);
}

.col_warning {
  color: var(--altum-color-status-warning);
}

.col_error {
  color: var(--altum-color-status-error);
}

.col_disabled {
  color: var(--altum-color-type-disabled);
  opacity: var(--altum-opacity-disabled);

  cursor: not-allowed;
}
