.grid {
  display: grid;
  container-type: inline-size;

  gap: var(--altum-grid-gap, var(--altum-g-space-3));
  grid-template-columns: var(--altum-grid-cols, repeat(1, minmax(0, 1fr)));

  width: 100%;
}

.gridItem {
  grid-row: var(--altum-grid-item-row, auto);
  grid-column: var(--altum-grid-item-col, auto);

  min-width: 0;
}
