.type {
  margin: 0;

  font-family: var(--altum-g-font-family-ui);
  font-size: var(--altum-g-font-size-base);
  font-weight: var(--altum-g-font-weight-normal);
  line-height: var(--altum-g-line-height-base);

  color: var(--altum-color-type);
}

.xs {
  font-size: var(--altum-g-font-size-xs);
  line-height: var(--altum-g-line-height-xs);
}

.sm {
  font-size: var(--altum-g-font-size-sm);
  line-height: var(--altum-g-line-height-sm);
}

.md {
  font-size: var(--altum-g-font-size-base);
  line-height: var(--altum-g-line-height-base);
}

.lg {
  font-size: var(--altum-g-font-size-lg);
  line-height: var(--altum-g-line-height-lg);
}

.xl {
  font-size: var(--altum-g-font-size-xl);
  line-height: var(--altum-g-line-height-xl);
}

.normal {
  font-weight: var(--altum-g-font-weight-normal);
}

.medium {
  font-weight: var(--altum-g-font-weight-medium);
}

.semibold {
  font-weight: var(--altum-g-font-weight-semibold);
}

.bold {
  font-weight: var(--altum-g-font-weight-bold);
}
