.h1 {
  font-size: var(--altum-g-font-size-4xl);
  line-height: 1.25;
}

.h2 {
  font-size: var(--altum-g-font-size-3xl);
  line-height: 1.25;
}

.h3 {
  font-size: var(--altum-g-font-size-2xl);
  line-height: 1.25;
}

.h4 {
  font-size: var(--altum-g-font-size-lg);
  line-height: 1.25;
}
