.filterWrapper {
  padding: var(--altum-g-space-2);

  border-bottom: 1px solid var(--altum-color-border);
}

.arrow {
  flex-shrink: 0;

  color: var(--altum-field-label);
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;

  transition: transform 0.2s ease;

  :global([data-field]:has([aria-expanded='true'])) & {
    transform: rotate(180deg);
  }

  &[data-readonly] {
    opacity: var(--altum-opacity-disabled);
  }
}
