.modalContent {
  --local-width: var(--altum-dialog-max-width-md);

  width: min(var(--local-width), calc(100dvw - 2 * var(--altum-g-space-4)));

  margin-inline: auto;

  font-family: var(--altum-g-font-family-ui);

  &[data-size='sm'] {
    --local-width: var(--altum-dialog-max-width-sm);
  }

  &[data-size='lg'] {
    --local-width: var(--altum-dialog-max-width-lg);
  }
}

.body {
  font-size: var(--altum-dialog-body-size);
  line-height: 1.5;
}
