.handle {
  display: flex;

  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  padding: var(--altum-g-space-2) 0 var(--altum-g-space-1);
}

.handleBar {
  --altum-grab-handle-width: 36px;
  --altum-grab-handle-height: var(--altum-g-space-1);

  width: var(--altum-grab-handle-width);
  height: var(--altum-grab-handle-height);

  border-radius: var(--altum-g-radius);

  background-color: var(--altum-color-input-border);
}
