.actions {
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: var(--altum-g-space-3);

  width: 100%;
}

.actionsEnd {
  display: flex;

  gap: var(--altum-g-space-3);

  margin-left: auto;
}
