.media {
  position: relative;

  overflow: hidden;

  width: 100%;
  aspect-ratio: var(--altum-media-ratio, 1.7778);

  background-color: var(--altum-color-option-hover);

  &[data-rounded] {
    border-radius: var(--altum-g-radius-md);
  }

  &[data-fit='contain'] .el {
    object-fit: contain;
  }
}

.el {
  position: absolute;
  inset: 0;

  display: block;

  width: 100%;
  height: 100%;
  object-fit: cover;
}
