.root {
  width: 100%;

  font-family: inherit;

  & .group {
    display: inline-flex;

    flex-wrap: wrap;
    gap: var(--altum-g-space-2);
  }

  & .cell:focus-visible {
    --altum-field-control-border: var(--altum-color-border-hover);
    --altum-field-control-shadow: 0 0 0 1px var(--altum-color-border-hover);

    border-color: var(--altum-field-control-border);

    box-shadow: var(--altum-field-control-shadow);
  }

  & .cell {
    flex: none;

    width: var(--altum-field-size-height);
    min-width: var(--altum-field-size-height);
    height: var(--altum-field-size-height);

    padding: 0;

    outline: none;

    font-size: var(--altum-field-font-size);
    font-weight: var(--altum-g-font-weight-semibold);
    font-variant-numeric: tabular-nums;
    text-align: center;

    color: var(--altum-field-control-color, var(--altum-color-field-text));

    appearance: none;
  }
}
