.avatar {
  --altum-avatar-size: 44px;
  position: relative;

  display: inline-flex;
  overflow: hidden;

  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  width: var(--altum-avatar-size);
  height: var(--altum-avatar-size);

  border: 2px solid var(--altum-color-surface);
  border-radius: 50%;

  font-family: inherit;
  font-size: calc(var(--altum-avatar-size) / 2.5);
  font-weight: var(--altum-g-font-weight-semibold);

  color: var(--altum-color-fill-primary-fg);
  background-color: var(--altum-color-fill-primary-bg);

  &[data-status] {
    overflow: visible;
  }

  &[data-status]::after {
    position: absolute;
    right: 0;
    bottom: 0;

    content: '';
    box-sizing: border-box;

    width: 22%;
    min-width: 8px;
    min-height: 8px;
    aspect-ratio: 1;

    border: 2px solid var(--altum-color-surface);
    border-radius: 50%;

    background-color: var(--altum-avatar-status);
  }

  &[data-status='online'] {
    --altum-avatar-status: var(--altum-color-status-success);
  }

  &[data-status='offline'] {
    --altum-avatar-status: var(--altum-color-border);
  }

  &[data-status='busy'] {
    --altum-avatar-status: var(--altum-color-status-error);
  }

  &[data-status='away'] {
    --altum-avatar-status: var(--altum-color-status-warning);
  }
}

.xs {
  --altum-avatar-size: 24px;
}

.sm {
  --altum-avatar-size: 32px;
}

.lg {
  --altum-avatar-size: 52px;
}

.xl {
  --altum-avatar-size: 64px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 50%;
}

.icon {
  display: inline-flex;

  justify-content: center;
  align-items: center;

  line-height: 1;

  &:not(:has(svg)) {
    max-width: 100%;

    padding-inline: 10%;

    text-align: center;
  }

  & svg {
    width: 50%;
    height: 50%;
  }
}

.group {
  display: inline-flex;

  flex-direction: row;

  & > * + * {
    margin-left: calc(var(--altum-g-space-2) * -1);
  }
}
