.avatar {
  --altum-avatar-size: var(--altum-control-height-md);
  position: relative;

  display: inline-flex;
  overflow: hidden;

  flex-shrink: 0;

  width: var(--altum-avatar-size);
  height: var(--altum-avatar-size);

  border: 2px solid var(--altum-color-surface);
  border-radius: 50%;

  font-family: inherit;
  font-size: calc(var(--altum-avatar-size) / 2.5);
  font-weight: var(--altum-g-font-weight-semibold);

  color: var(--altum-color-fill-primary-fg);
  background-color: var(--altum-color-fill-primary-bg);

  &[data-status] {
    overflow: visible;
  }

  &[data-status]::after {
    position: absolute;
    right: 0;
    bottom: 0;

    content: '';
    box-sizing: border-box;

    width: 22%;
    min-width: var(--altum-g-space-2);
    min-height: var(--altum-g-space-2);
    aspect-ratio: 1;

    border: 2px solid var(--altum-color-surface);
    border-radius: 50%;

    background-color: var(--altum-avatar-status);
  }

  &[data-status='online'] {
    --altum-avatar-status: var(--altum-color-status-success);
  }

  &[data-status='offline'] {
    --altum-avatar-status: var(--altum-color-border);
  }

  &[data-status='busy'] {
    --altum-avatar-status: var(--altum-color-status-error);
  }

  &[data-status='away'] {
    --altum-avatar-status: var(--altum-color-status-warning);
  }

  &[data-size='xs'] {
    --altum-avatar-size: var(--altum-g-space-6);
  }

  &[data-size='sm'] {
    --altum-avatar-size: var(--altum-control-height-sm);
  }

  &[data-size='lg'] {
    --altum-avatar-size: var(--altum-control-height-lg);
  }

  &[data-size='xl'] {
    --altum-avatar-size: calc(var(--altum-g-space-8) * 2);
  }
}

.photo {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  aspect-ratio: auto;

  background: none;
}

.avatar:has(img:not([data-broken])) .icon {
  display: none;
}

.avatar:has(img[data-broken]) .photo {
  display: none;
}

.icon {
  display: inline-flex;

  line-height: 1;

  &:not(:has(svg)) {
    max-width: 100%;

    padding-inline: 10%;

    text-align: center;
  }

  & svg {
    width: 50%;
    height: 50%;
  }
}

.group {
  display: inline-flex;

  flex-direction: row;

  & > * + * {
    margin-left: calc(var(--altum-g-space-2) * -1);
  }
}
