.root {
  box-sizing: border-box;
  overflow: auto;
  overscroll-behavior: contain;

  width: 100%;
  min-width: 0;
  max-width: var(--altum-scroll-area-max-width, none);
  max-height: var(--altum-scroll-area-max-height, none);

  &[data-orientation='y'] {
    overflow-x: hidden;
  }

  &[data-orientation='x'] {
    overflow-y: hidden;
  }
}
