.root {
  --local-pull-height: 0px;

  position: relative;

  font-family: inherit;

  touch-action: pan-y;

  & .indicator {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: var(--altum-g-space-2);

    height: var(--local-pull-height);

    padding-bottom: var(--altum-g-space-2);

    color: var(--altum-color-muted);
    opacity: 0;

    transition: height 0.15s ease, opacity 0.15s ease;
  }

  &[data-ptr-state] .indicator {
    opacity: 1;

    transition: none;
  }

  &[data-refreshing] .indicator {
    height: var(--altum-ptr-threshold, 64px);

    opacity: 1;

    transition: height 0.15s ease, opacity 0.15s ease;
  }

  & .arrow {
    display: inline-flex;

    font-size: var(--altum-g-font-size-lg);
    line-height: 1;

    transform: rotate(0deg);

    transition: transform 0.15s ease;
  }

  &[data-ptr-state='ready'] .arrow {
    transform: rotate(180deg);
  }

  & .label {
    font-size: var(--altum-g-font-size-2xs);

    &::after {
      display: block;
      content: '';
    }
  }

  &[data-ptr-state='pull'] .label::after {
    content: attr(data-label-pull);
  }

  &[data-ptr-state='ready'] .label::after {
    content: attr(data-label-release);
  }

  &[data-refreshing] .label::after {
    content: attr(data-label-refreshing);
  }

  & .content {
    min-height: 100%;
  }
}
