.link {
  &.primary {
    color: var(--altum-color-link-color);

    &:hover:not(:disabled) {
      color: var(--altum-color-link-color-hover);
    }
  }

  &.secondary {
    color: var(--altum-color-link-secondary);

    &:hover:not(:disabled) {
      color: var(--altum-color-link-secondary-hover);
    }
  }

  &.muted {
    color: var(--altum-color-link-muted);

    &:hover:not(:disabled) {
      color: var(--altum-color-link-muted-hover);
    }
  }

  &.danger {
    color: var(--altum-color-link-danger);

    &:hover:not(:disabled) {
      color: var(--altum-color-link-danger-hover);
    }
  }
}
